@import url('https://fonts.googleapis.com/css?family=Questrial');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size: 16px;
	line-height: 1.5em;
}

ul {
	list-style:none;
	margin-top:0em;
	padding:0em;
	width:100%;
	overflow:hidden;
    font-size:20px;
}


.wrapper {
/*    width: 360px;*/
/*    height:640px;*/
    overflow: hidden;
    margin: 0 auto;
    max-width: 750px;
    background: #686c73;
/*    height:auto;*/
    padding:10px;
}

.menu_button {
/*    width: 35px;*/
    margin-top:20px;
    color: #eaeff8;
    float: left;
    font-size: 80px;
}

#menu{
    display: none;
}

#menu li {
    width: 100%;
    font-family: "Questrial", sans-serif;
    background-color:#eaeff8;
    text-align: center;
    text-decoration:none;
    color:#686c71;
/*    position:absolute;*/
}

/*text styles start here*/

h1{
    
    text-decoration:none;
}

h2{
    font-family:"Questrial",sans-serif;
    font-size:20px;
    color:#eaeff8;
    text-decoration:none;
    padding:10px;
    text-align:center;
}



.logo{
    padding:25px;
    text-align:center;
    font-size:48px;
    color:#eaeff8;
    font-family:"Questrial",sans-serif;
}

.action{
    width: 54.28571429%;
    margin-top: 200px;
    margin-left:75px;
    padding: 12px;
    background-color:#eaeff8;
    opacity: .8;
    text-align: center;
    font-family:"Questrial",sans-serif;
/*    margin:85px;*/
    position:absolute;
/*    margin-top:150px;*/
    font-size:20px;
    color:#686c71;
    cursor:pointer;
}

.tale{
    width: 260px;
    padding: 12px;
    background-color:#eaeff8;
    opacity: .8;
    text-align: center;
    font-family:"Questrial",sans-serif;
    margin:0 auto;
    font-size:20px;
    color:#686c71;
    cursor:pointer;
    text-decoration:none;
}

p{
    font-size:12px;
    color:#eaeff8;
    font-family:"Questrial",sans-serif;
    text-align:center;
/*    text-align:justify;*/
/*    padding-right:10px;*/
    margin-bottom:20px;
}

h3{
    font-size: 10px;
    color:#eaeff8;
    background-color: #686c71;
    font-family:"Questrial",sans-serif;
    margin-left: 40px;
}

h5{
    font-family:"Questrial",sans-serif;
    font-size:12px;
    color:#686e74;
    padding:10px;
    background-color:#eaeff8;
    display:inline;
    width:25px;
    margin:10px;
}

/*input style*/

.partone{
    text-align:center;
}

.carddetails{
    text-align:center;
    margin-top:41px;
}

input[type=text] {
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background:#eaeff8;
}

input[type=button] {
    width: 190px;
    height:35px;
    padding: 10px;
    margin-top:18px;
    cursor:pointer;
    background:#eaeff8;
    color: #686c71;
}



/*text styles end here*/



.media{
    float:right;
}

.hero {
/*    position:absolute;*/
/*    width:54.6875%;*/
}

.scudamore {
    width:auto;
    margin:0 auto;
}

.size {
    text-align:center;
    padding:20px;
    display:inline;
}

select{
    margin-left:20px;
    margin-right:25px;
    background-color:#686c71;
    color:#eaeff8;
}

footer{
    background-color:#686c71;
    margin-top:30px;
}

a {
    color:#eaeff8;
}

a:link{
    color:#eaeff8;
}

/*media query*/
/* media query for tablet */
@media screen and (min-width:641px) {
    .nodesk {
        display:none;
    }
    
    #menu {
        display:block !important; /* in case of javascript override */
        float:right;
        margin-top:10px;
        width:33%;
    }
    
    #menu li {
/*        float:;*/
        display:inline;
/*        width:%;*/
        background-color:#686e71;
        color:#eaeff8;
        font-size:12px;
        
    }
  
    .wrapper{
        width:auto;
        padding:0px;
        margin:0 auto;
        background-color:#eaeff8;
    }
   
    /*text*/

p{
    margin:0 auto;
    padding:15px;
    font-size:20px;
    color:#686c71;
}


    h2{
        color:#686c71;
        margin-top:15px;
    }
    
    h3{
        width:30%;
    }

    h5{
        background-color:#686c71;
        color:#eaeff8;
        cursor:pointer;
    }
/*textend*/

header{
    background-color:#686c71;
    height:50px;
/*    position:absolute;*/
    width:100%;
}

.logo{
    width:40%;
    font-size:30px;
    padding:12px;
/*    margin-top:*/
}

.hero{
    margin:0 auto;
    width:100%;
}

.action{
    width:31.91489361702128%;
    margin:0 auto;
    margin-top: 330px;
    margin-left:8.5%;
    background-color:#686c71;
    color:#eaeff8;
}
    
    .tale{
        background-color:#686c71;
        color:#eaeff8;
        margin-bottom:30px;
    }
    
    footer{
        background-color:#686c71;
        height:100px;
        padding:15px;
/*        align-content:center;*/
    }
    
    a{
        color:#eaeff8;
        text-decoration: none;
    }
    
    .bxslider{
        position:relative;
        background-color:#eaeff8;
        margin:0 auto;
/*        margin-top:100px;*/
    }

    
    input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color:#686c71;
    background:#eaeff8;
}
    input[type=button] {
    width: 190px;
    height:35px;
    padding: 10px;
/*    margin-bottom:20px;*/
    cursor:pointer;
/*    border-style: solid;*/
/*    border-width: 1px;*/
    border-color:#686c71;
    background-color:#686c71;
    color:#eaeff8;
}
    .media{
/*        margin-bottom:30px;*/
        display:inline;
        margin-left:10px;
    }
    
    a {
        color: #eaeff8;
    }
    
}

